@{
    Layout = null;
}

<!DOCTYPE html><html lang=en><head><meta charset=utf-8><meta http-equiv=X-UA-Compatible content="IE=edge"><meta name=mobile-web-app-capable content=yes><meta name=viewport content="width=device-width,initial-scale=1"><link rel=icon href=/favicon.ico><title>Оператор НСИ</title><link href=/css/app.7f85c193.css rel=preload as=style><link href=/css/chunk-vendors.c9f5f878.css rel=preload as=style><link href=/js/app.ce83f449.js rel=preload as=script><link href=/js/chunk-vendors.7cb1a49d.js rel=preload as=script><link href=/css/chunk-vendors.c9f5f878.css rel=stylesheet><link href=/css/app.7f85c193.css rel=stylesheet></head><style>html {
    overflow-y: hidden
  }</style><body><noscript><strong>We're sorry but vuebu doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript><div id=app></div><script src=/js/chunk-vendors.7cb1a49d.js></script><script src=/js/app.ce83f449.js></script></body></html>